    <!-- <div class="card flex justify-content-center">
        <p-dropdown [options]="title" [(ngModel)]="selectedItem" placeholder="Select Item" [virtualScroll]="true" [virtualScrollItemSize]="38" [virtualScrollOptions]="options"></p-dropdown>
    </div>  -->
    <div style="height: 240px; overflow-y: auto;" (scroll)="onScroll($event)">
    <p-dropdown [options]="displayedtitle" placeholder="Select Item"
    (onLazyLoad)="($event)" [showClear]="true">

</p-dropdown>
</div>

<!-- <p-dropdown [options]="displayedtitle" placeholder="Select Item" (scroll)="onScroll($event)" [showClear]="true">
</p-dropdown> -->
